<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="index.html" class="navbar-brand logo">RoomAurum</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#!main">Главная</a></li>
				<li><a style="background-color: #cc1111" href="#!about">О нас</a></li>
				<li><a href="#!gallery">Галерея работ</a></li>
				<li><a class="mnu-link" href="#!conacts">Контакты</a></li>
				<li></li>
			</ul>
			
			<button class="btn btn-danger navbar-btn pull-right">Обратная связь</button>
		</div>
	</div>
</div>

<div id="about">
	<h2 class="centered">О нас</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row first-block">
					<div class="col-md-6 col-sm-12 abt-img">
						<img src="../img/about-first.jpg">
					</div>

					<div class="col-md-6 col-md-offset-0  col-sm-10 col-sm-offset-1 abt-text">
						<p class="centered">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст..Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. </p>
					</div>

					
				</div>

				<div class="row second-block hidden-sm">
					<div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 abt-text">
						<p class="centered">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст..</p>
					</div>

					<div class="col-md-6 col-sm-12 abt-img">
						<img src="../img/about-first.jpg">
					</div>
				</div>

				<div class="row second-block visible-sm">
					<div class="col-md-6 col-sm-12 abt-img">
						<img src="../img/about-first.jpg">
					</div>
					
					<div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 abt-text">
						<p class="centered">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст..</p>
					</div>

					
				</div>
			</div>
		</div>
	</div>
</div>
	