<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="index.html" class="navbar-brand logo">RoomAurum</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#!main">Главная</a></li>
				<li><a class="mnu-link" href="#!about">О нас</a></li>
				<li><a style="background-color: #cc1111" href="#!gallery">Галерея работ</a></li>
				<li><a class="mnu-link" href="#!conacts">Контакты</a></li>
				<li></li>
			</ul>
			
			<button class="btn btn-danger navbar-btn pull-right">Обратная связь</button>
		</div>
	</div>
</div>

<div id="gallery">
	<div class="container">
		<h2 class="centered">Галерея наших работ</h2>
		  <div class="row">
		    <div class="col-md-10 col-md-offset-1">
		      <ul class="nav nav-tabs gallery-tab">
		        <li class="active"><a data-toggle="tab" data-target="#gold">Золотая поталь</a></li>
		        <li><a data-toggle="tab" data-target="#silver">Серебряная поталь</a></li>
		        <li><a data-toggle="tab" data-target="#pat">Патинирование</a></li>
		      </ul>
		    </div>

		    <div class="tab-content col-md-10 col-md-offset-1">
		        <div id="gold" class="tab-pane active">
		          <h3>Золотая поталь</h3> 
		          <div class="gallery">
						
						<a href="img/gold-pot/1-gold.jpg">
							<img class="g-img" src="img/gold-pot/mini/1-gold-min.jpg" alt="">
							<div class="zoom">
								<img class="z-img" src="../img/icon/Zoom.png" alt="">
							</div>
						</a>
						

						<a href="img/gold-pot/2-gold.jpg">
							<img class="g-img" src="img/gold-pot/mini/2-gold-min.jpg" alt="">
							<div class="zoom">
								<img class="z-img" src="../img/icon/Zoom.png" alt="">
							</div>
						</a>

						<a href="img/gold-pot/3-gold.jpg">
							<img class="g-img" src="img/gold-pot/mini/3-gold-min.jpg" alt="">
							<div class="zoom">
								<img class="z-img" src="../img/icon/Zoom.png" alt="">
							</div>
						</a>

						<a href="img/gold-pot/4-gold.jpg">
							<img class="g-img" src="img/gold-pot/mini/4-gold-min.jpg" alt="">
							<div class="zoom">
								<img class="z-img" src="../img/icon/Zoom.png" alt="">
							</div>
						</a>
					</div>           
		        </div>
		        <div id="silver" class="tab-pane">
		          <h3>Серебряная поталь</h3>
		          <div class="gallery">
						
						<a href="img/silver-pot/1-silver.jpg">
							<img class="g-img" src="img/silver-pot/mini/1-silver-min.jpg" alt="">
							<div class="zoom">
								<img class="z-img" src="../img/icon/Zoom.png" alt="">
							</div>
						</a>
						

						<a href="img/silver-pot/2-silver.jpg">
							<img class="g-img" src="img/silver-pot/mini/2-silver-min.jpg" alt="">
							<div class="zoom">
								<img class="z-img" src="../img/icon/Zoom.png" alt="">
							</div>
						</a>

						<a href="img/silver-pot/3-silver.jpg">
							<img class="g-img" src="img/silver-pot/mini/3-silver-min.jpg" alt="">
							<div class="zoom">
								<img class="z-img" src="../img/icon/Zoom.png" alt="">
							</div>
						</a>

						<a href="img/silver-pot/4-silver.jpg">
							<img class="g-img" src="img/silver-pot/mini/4-silver-min.jpg" alt="">
							<div class="zoom">
								<img class="z-img" src="../img/icon/Zoom.png" alt="">
							</div>
						</a>
					</div>
		        </div>
		        <div id="pat" class="tab-pane">
			        <h3>Патинирование</h3>
		        	<div class="gallery">
						
						<a href="img/gold-pot/1-gold.jpg">
							<img class="g-img" src="img/gold-pot/mini/1-gold-min.jpg" alt="">
							<div class="zoom">
								<img class="z-img" src="../img/icon/Zoom.png" alt="">
							</div>
						</a>
						

						<a href="img/gold-pot/2-gold.jpg">
							<img class="g-img" src="img/gold-pot/mini/2-gold-min.jpg" alt="">
							<div class="zoom">
								<img class="z-img" src="../img/icon/Zoom.png" alt="">
							</div>
						</a>

						<a href="img/gold-pot/3-gold.jpg">
							<img class="g-img" src="img/gold-pot/mini/3-gold-min.jpg" alt="">
							<div class="zoom">
								<img class="z-img" src="../img/icon/Zoom.png" alt="">
							</div>
						</a>

						<a href="img/gold-pot/4-gold.jpg">
							<img class="g-img" src="img/gold-pot/mini/4-gold-min.jpg" alt="">
							<div class="zoom">
								<img class="z-img" src="../img/icon/Zoom.png" alt="">
							</div>
						</a>
					</div>
		        </div>
		      </div>
		  </div>
					
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function($) {
	  $(".gallery").lightGallery({
	  	thumbnail: true
	  });
	});
</script>