<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="index.html" class="navbar-brand logo">RoomAurum</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a style="background-color: #cc1111" href="#!main">Главная</a></li>
				<li><a class="mnu-link" href="#!about">О нас</a></li>
				<li><a href="#!gallery">Галерея работ</a></li>
				<li><a class="mnu-link" href="#!conacts">Контакты</a></li>
				<li></li>
			</ul>
			
			<button type="button" class="btn btn-danger navbar-btn pull-right" data-toggle="modal" data-target="#modalForm">Обратная связь</button>
		</div>
	</div>
</div>

<div id="headerwrap">
	<div class="container">
		<div class="row">
			
				<h1 id="banner-1">Room Aurum</h1>
				<h2 id="banner-2">Дизайнерская позолота интерьера</h2>
			
		</div>
	</div>
</div>

<div class="text-box">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. </p>
			</div>
		</div>
	</div>
</div>

<div id="first-img-block"></div>

<div class="text-box">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. </p>
			</div>
		</div>
	</div>
</div>

<div id="second-img-block"></div>

<div class="text-box">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. </p>
			</div>
		</div>
	</div>
</div>

<div id="third-img-block"></div>